ion-header ion-toolbar ion-title {
	.logo {
		width: auto;
		max-width: 135px;
		min-width: 135px;
	}

	.end {
		display: flex;
		align-items: center;

		.search_box {
			background: var(--bg-color);
			border-radius: 50px;
			margin: 0 10px;
			position: relative;
			overflow: hidden;
			//	min-height: 24px;
			z-index: 99;
			box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);

			ion-icon {
				color: var(--text-light);
				font-size: 0.95rem;
				min-width: 40px;
				z-index: 99;
				opacity: .8;

			}

			ion-searchbar {
				--background: var(--transparent) !important;
				--color: var(--text-light);
				--placeholder-opacity: .8;
				--placeholder-font-weight: 400 !important;
				--box-shadow: none !important;
				padding: 0;
				min-width: 165px;
			}
		}

		h4 {
			height: 27px;
			line-height: 27px;
			font-size: .73rem;
			font-weight: 400;
			padding: 0 18px;
			background: var(--red_color);
			border-radius: 50px;
			margin: 0;
			min-width: 125px;

		}

		h5 {
			position: relative;
			min-width: 23px;
			display: none;

			ion-badge {
				background: var(--red_color);
				--background: var(--transparent);
				--color: var(--white);
				--padding-bottom: 0;
				--padding-end: 0;
				--padding-start: 0;
				--padding-top: 0;
				border-radius: 50%;
				width: 12px;
				height: 12px;
				line-height: 12px;
				display: block;
				font-size: 0.45rem !important;
				position: absolute;
				top: -3px;
				right: 0;
			}

			ion-icon {
				position: relative;
				top: 3px;
				font-size: 1.2rem;
			}
		}
	}

}


.container {
	position: relative;
	width: 100%;

	.back_btn {
		background: var(--secondary);
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		padding-top: 60px;
		overflow-x: scroll;
		width: 60px;

		ion-buttons {
			position: relative !important;
			margin: 0;
			--padding-end: 0 !important;
			--padding-start: 0 !important;
			position: absolute !important;
			top: -35%;
			left: 0;
			right: 0;
			bottom: 0;

			.button-inner {
				ion-icon {
					//font-size: 1.5rem;
					padding-left: 00px;
					color: var(--white);
				}

				.button-text {
					display: none !important;
				}
			}

			ion-back-button {
				min-width: 60px !important;
				color: var(--white);

			}
		}

	}

	.item_details_container {
		width: 100%;
		max-width: calc(100% - 60px);
		overflow: hidden;
		margin-bottom: 10px;

		ion-row {
			ion-col {
				ion-card {
					margin: 0;
					width: 100%;
					background: var(--card_bg);
					margin-bottom: 10px;
					padding: 22px 22px;
					border-radius: 8px;

					h2 {
						color: var(--text-light);
						margin: 0;
						text-transform: uppercase;
						font-size: .65rem;
						letter-spacing: 1.5px;
						font-weight: 600;
						padding-bottom: 11px;
					}

					p {
						color: var(--white);
						font-size: .75rem;
						letter-spacing: .5px;
						line-height: 19px;
						margin: 0;
					}

					&.video {
						padding: 0;
						height: 180px;
						position: relative;

						.video_img {
							width: 100%;
							height: 180px;

							&::after {
								content: '';
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								background: var(--bg-color);
								opacity: .5;
							}
						}

						.video_text {
							position: absolute;
							left: 0;
							bottom: 0;
							width: 100%;
							padding: 14px 16px;
							z-index: 99;

							h3 {
								margin: 0;
								color: var(--white);
								font-size: .95rem;
								font-weight: 500;
							}

							h4 {
								margin: 0;
								color: var(--white);
								font-size: .8rem;
								font-weight: 400;
								opacity: .7;
							}
						}

						.play_icon {
							position: absolute;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							margin: auto;
							z-index: 99;
							height: fit-content;
							width: fit-content;

							img {
								width: 68px;
								display: block;
								margin: auto;
							}
						}
					}

					&.ingredients {
						padding-bottom: 10px;

						p {
							span {
								color: var(--white);
								font-size: 0.8rem;
								margin: 0;
								display: inline-block;
								padding-right: 22px;
								line-height: 24px;
							}
						}
					}

				}

				.info {
					margin: 0 -5px;

					ion-row {
						width: 100%;

						ion-col {
							padding-top: 0;
							padding-bottom: 0;

							ion-card {
								padding: 15px 10px;
								text-align: center;

								.icon_box {
									margin-bottom: 10px;

									img {
										width: 34px;
										margin: 0 auto;
									}

								}

								h2 {
									padding-bottom: 6px;
								}

								h3 {
									color: var(--white);
									font-size: 0.8rem;
									letter-spacing: 0.5px;
									margin: 0;
								}
							}
						}
					}
				}

				.item-info {
					ion-card {
						padding: 0;
						background: var(--secondary);

						ion-slides {
							--bullet-background: var(--secondary);
							--bullet-background-active: var(--primary);

							.swiper-pagination {
								text-align: right !important;

								.swiper-pagination-bullet {
									opacity: 1 !important;
								}

							}

							.img_box {
								width: 100%;
								height: 200px;

								&::after {
									content: '';
									position: absolute;
									bottom: 0;
									left: 0;
									width: 100%;
									height: 50px;
									background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(38, 39, 44, 1) 100%);
								}
							}

						}

						.text_box {
							width: 100%;
							padding: 10px 22px;
							padding-bottom: 20px;

							h1 {
								margin: 0;
								color: var(--white);
								font-size: 1.2rem;
								padding-bottom: 8px;
							}

							h3 {
								color: var(--white);
								margin: 0;
								font-size: .8rem;
								font-weight: 400;

								span {
									opacity: .5;

									&.end {
										opacity: 1;
									}
								}
							}
						}

						ion-list {
							background: var(--transparent);
							padding: 0 22px;
							padding-bottom: 14px;

							ion-item {
								min-height: unset !important;
								--min-height: unset !important;
								--background: var(--transparent);
								--inner-padding-end: 0px;
								--inner-min-height: unset !important;
								--padding-start: 0;
								padding: 7px 0;

								ion-checkbox {
									margin: 0;
									margin-right: 15px;
									--size: 14px;
									--background: var(--transparent);
									--border-width: 1.5px;
									--border-color: #5C5C5E;
									--border-color-checked: var(--yelow_color);
									--background-checked: var(--yelow_color);
									--checkmark-color: var(--secondary);

								}

								ion-label {
									margin: 0;

									h4 {
										margin: 0;
										color: var(--white);
										font-size: .8rem;

										span {
											font-weight: 400;
										}
									}
								}
							}
						}

						.button.btn {
							font-weight: 500;
							font-size: .95rem;
						}
					}
				}
			}
		}

		.realated_items {
			position: relative;
			width: 100%;
			overflow: hidden;
			padding-bottom: 9px;

			h5 {
				color: var(--text-light);
				margin: 0;
				text-transform: uppercase;
				font-size: 0.65rem;
				letter-spacing: 1.5px;
				font-weight: 600;
				padding: 15px 0;
				padding-left: 33px;
				position: relative;
				z-index: 99;
			}

			&::before {
				content: '';
				position: absolute;
				left: 10px;
				width: calc(50% - 15px);
				height: 100%;
				background: var(--card_bg);
				border-radius: 8px;
			}

			.scroll_container {
				width: 100%;
				height: 134px;
				overflow-x: scroll;
				white-space: nowrap;

				.item {
					position: relative;
					overflow: hidden;
					border-radius: 15px;
					width: 100%;
					height: 135px;
					max-width: 213px;
					display: inline-block;
					margin: 0 5px;

					.item_img {
						width: 100%;
						height: 135px;

						&::after {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background: var(--bg-color);
							opacity: .3;
						}

					}

					.text_box {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						color: var(--white);
						padding: 12px 12px;
						z-index: 99;

						h2 {
							margin: 0;
							font-size: .8rem;
							padding-bottom: 5px;
						}

						h3 {
							margin: 0;
							font-weight: 400;
							font-size: .7rem;
						}

					}

					&:first-child {
						margin-left: 30px;
					}

					&:last-child {
						margin-right: 30px;
					}

				}

			}
		}
	}
}

.cart_container {
	position: fixed;
	z-index: 9999;
	top: 0px;
	right: -100%;
	width: 100%;
	height: 100%;
	transition: all .1s;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(3px);
		transition: all .1s;

	}

	.container {
		background: var(--secondary);
		position: absolute;
		right: -100%;
		max-width: 240px;
		height: 100%;
		width: 100%;
		overflow-x: hidden;
		transition: right .2s;

		.cart_header {
			height: 60px;
			color: var(--white);
			padding: 0 10px;
			position: fixed;
			top: 0;
			z-index: 999;
			max-width: 240px;
			background: var(--secondary);

			h2 {
				margin: 0;
				font-size: .8rem;
				font-weight: 400;
			}

			h4 {
				height: 27px;
				line-height: 27px;
				font-size: .73rem;
				font-weight: 400;
				padding: 0 18px;
				background: var(--red_color);
				border-radius: 50px;
				margin: 0;
				min-width: 125px;

			}

		}

		ion-list {
			background: var(--transparent) !important;
			margin: 0;
			padding: 0;
			padding-bottom: 100px;
			padding-top: 60px;

			ion-item {
				min-height: unset !important;
				--background: var(--transparent);
				--inner-padding-end: 0px;
				--inner-min-height: unset !important;
				--padding-start: 0;
				border-bottom: 1px dashed var(--text-light) !important;
				padding: 10px 10px;

				.item_inner {
					width: 100%;
					align-items: flex-start;

					.item_img {
						min-width: 50px;
						height: 50px;
						border-radius: 5px;
						margin-right: 12px;

						img {
							max-width: unset;
							width: 140%;
						}
					}

					.item_details {
						color: var(--white);
						width: 100%;

						h2 {
							margin: 0;
							font-size: .85rem;
							font-weight: 500;
							min-height: 32px;
							padding-bottom: 10px;
						}

						.add-remove {
							ion-icon {
								color: var(--secondary);
								background: var(--primary);
								text-align: center;
								display: block;
								min-width: 18px;
								height: 18px;
								border-radius: 2px;
								line-height: 18px;
								font-size: 1.1rem;
							}

							strong {
								padding: 0 4px;
								min-width: 33px;
								font-size: .95rem;
								font-weight: 500;
							}

						}

						h3 {
							margin: 0;
							font-size: .75rem;
						}
					}

					h4 {
						margin: 0;
						font-size: .75rem;
						font-weight: 400;
						margin-top: 12px;

						span {
							font-weight: 500;
							min-width: 50px;
						}
					}
				}

				&:first-child {
					padding-top: 0 !important;
				}
			}
		}

		.cart_footer {
			color: var(--white);
			position: fixed;
			bottom: 0;
			max-width: 240px;
			width: 100%;

			h2 {
				margin: 0;
				background: #35363c;
				height: 45px;
				line-height: 45px;
				font-size: .8rem;
				padding: 0 15px;
				letter-spacing: .5px;

				strong {
					font-size: 1.2rem;
					font-weight: 500;
				}
			}

			h3 {
				margin: 0;
				background: var(--primary);
				height: 45px;
				line-height: 45px;
				font-size: .8rem;
				letter-spacing: .5px;
			}
		}
	}

	&.active {
		right: 0%;
		transition: all .1s;

		.container {
			right: 0;
			transition: right .2s;
		}
	}
}

@media (max-width: 550px) {
	ion-header ion-toolbar ion-title {
		.logo {
			max-width: 120px;
			min-width: 120px;
		}

		.end {
			.search_box ion-searchbar {
				min-width: 101px;
			}

			h4 {
				display: none !important;
			}

			h5 {
				display: block !important;
			}
		}
	}
}

@media (max-width: 575px) {
	.container .item_details_container .realated_items::before {
		width: calc(100% - 19px);
	}
}