<ion-header>
	<ion-toolbar>
		<ion-title>
			<div class="d-flex">
				<div class="logo">
					<img src="assets/images/logo.png">
				</div>
			</div>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">
	<div class="item_container">
		<ion-grid class="ion-no-padding">
			<ion-row>
				<ion-col size="12" size-lg="3" size-md="3" size-sm="4">
					<div class="item active1">
						<div class="text_box">
							<h2 class="d-flex">{{'table' | translate}} 1 <span class="end ion-text-end">1:33</span></h2>
							<h3>{{'ordered' | translate}} 5 {{'items' | translate}}</h3>
						</div>
					</div>
				</ion-col>
				<ion-col size="12" size-lg="3" size-md="3" size-sm="4">
					<div class="item active2">
						<div class="text_box">
							<h2 class="d-flex">{{'table' | translate}} 2 <span class="end ion-text-end">1:33</span></h2>
							<h3>{{'ordered' | translate}} 2 {{'items' | translate}}</h3>
						</div>
					</div>
				</ion-col>
				<ion-col size="12" size-lg="3" size-md="3" size-sm="4">
					<div class="item" (click)="home()">
						<div class="text_box">
							<h2 class="d-flex">{{'table' | translate}} 3 <span class="end ion-text-end"></span></h2>
							<h3>{{'no_order' | translate}}</h3>
						</div>
					</div>
				</ion-col>
				<ion-col size="12" size-lg="3" size-md="3" size-sm="4">
					<div class="item active1">
						<div class="text_box">
							<h2 class="d-flex">{{'table' | translate}} 4 <span class="end ion-text-end">4:23</span></h2>
							<h3>{{'ordered' | translate}} 8 {{'items' | translate}}</h3>
						</div>
					</div>
				</ion-col>
				<ion-col size="12" size-lg="3" size-md="3" size-sm="4">
					<div class="item active1">
						<div class="text_box">
							<h2 class="d-flex">{{'table' | translate}} 5 <span class="end ion-text-end">1:33</span></h2>
							<h3>{{'ordered' | translate}} 2 {{'items' | translate}}</h3>
						</div>
					</div>
				</ion-col>
				<ion-col size="12" size-lg="3" size-md="3" size-sm="4">
					<div class="item" (click)="home()">
						<div class="text_box">
							<h2 class="d-flex">{{'table' | translate}} 6 <span class="end ion-text-end">1:33</span></h2>
							<h3>{{'no_order' | translate}}</h3>
						</div>
					</div>
				</ion-col>
				<ion-col size="12" size-lg="3" size-md="3" size-sm="4">
					<div class="item active3">
						<div class="text_box">
							<h2 class="d-flex">{{'table' | translate}} 7 <span class="end ion-text-end">1:33</span></h2>
							<h3>{{'ordered' | translate}} 2 {{'items' | translate}}</h3>
						</div>
					</div>
				</ion-col>
				<ion-col size="12" size-lg="3" size-md="3" size-sm="4">
					<div class="item" (click)="home()">
						<div class="text_box">
							<h2 class="d-flex">{{'table' | translate}} 8 <span class="end ion-text-end">1:33</span></h2>
							<h3>{{'no_order' | translate}}</h3>
						</div>
					</div>
				</ion-col>

				<ion-col size="12" size-lg="3" size-md="3" size-sm="4">
					<div class="item" (click)="home()">
						<div class="text_box">
							<h2 class="d-flex">{{'table' | translate}} 9 <span class="end ion-text-end">1:33</span></h2>
						<h3>{{'no_order' | translate}}</h3>
						</div>
					</div>
				</ion-col>
				<ion-col size="12" size-lg="3" size-md="3" size-sm="4">
					<div class="item" (click)="home()">
						<div class="text_box">
							<h2 class="d-flex">{{'table' | translate}} 10 <span class="end ion-text-end">1:32</span></h2>
						<h3>{{'no_order' | translate}}</h3>
						</div>
					</div>
				</ion-col>
				<ion-col size="12" size-lg="3" size-md="3" size-sm="4">
					<div class="item active1">
						<div class="text_box">
							<h2 class="d-flex">{{'table' | translate}} 11 <span class="end ion-text-end">1:32</span></h2>
							<h3>{{'ordered' | translate}} 3 {{'items' | translate}}</h3>
						</div>
					</div>
				</ion-col>
				<ion-col size="12" size-lg="3" size-md="3" size-sm="4">
					<div class="item active2">
						<div class="text_box">
							<h2 class="d-flex">{{'table' | translate}} 12 <span class="end ion-text-end">5:34</span></h2>
							<h3>{{'ordered' | translate}} 4 {{'items' | translate}}</h3>
						</div>
					</div>
				</ion-col>
				<ion-col size="12" size-lg="3" size-md="3" size-sm="4">
					<div class="item active1">
						<div class="text_box">
							<h2 class="d-flex">{{'table' | translate}} 13 <span class="end ion-text-end">1:33</span></h2>
							<h3>{{'ordered' | translate}} 2 {{'items' | translate}}</h3>
						</div>
					</div>
				</ion-col>
				<ion-col size="12" size-lg="3" size-md="3" size-sm="4">
					<div class="item" (click)="home()">
						<div class="text_box">
							<h2 class="d-flex">{{'table' | translate}} 14 <span class="end ion-text-end">8:33</span></h2>
						<h3>{{'no_order' | translate}}</h3>
						</div>
					</div>
				</ion-col>
				<ion-col size="12" size-lg="3" size-md="3" size-sm="4">
					<div class="item active1">
						<div class="text_box">
							<h2 class="d-flex">{{'table' | translate}} 15 <span class="end ion-text-end">9:20</span></h2>
							<h3>{{'ordered' | translate}} 2 {{'items' | translate}}</h3>
						</div>
					</div>
				</ion-col>
				<ion-col size="12" size-lg="3" size-md="3" size-sm="4">
					<div class="item"  (click)="home()">
						<div class="text_box">
							<h2 class="d-flex">{{'table' | translate}} 16 <span class="end ion-text-end">1:33</span></h2>
						<h3>{{'no_order' | translate}}</h3>
						</div>
					</div>
				</ion-col>


				<ion-col size="12" size-lg="3" size-md="3" size-sm="4">
					<div class="item"  (click)="home()">
						<div class="text_box">
							<h2 class="d-flex">{{'table' | translate}} 17 <span class="end ion-text-end">1:33</span></h2>
						<h3>{{'no_order' | translate}}</h3>
						</div>
					</div>
				</ion-col>
				<ion-col size="12" size-lg="3" size-md="3" size-sm="4">
					<div class="item active2">
						<div class="text_box">
							<h2 class="d-flex">{{'table' | translate}} 18 <span class="end ion-text-end">1:33</span></h2>
							<h3>{{'ordered' | translate}} 2 {{'items' | translate}}</h3>
						</div>
					</div>
				</ion-col>
				<ion-col size="12" size-lg="3" size-md="3" size-sm="4">
					<div class="item" (click)="home()">
						<div class="text_box">
							<h2 class="d-flex">{{'table' | translate}} 19 <span class="end ion-text-end"></span></h2>
						<h3>{{'no_order' | translate}}</h3>
						</div>
					</div>
				</ion-col>
				<ion-col size="12" size-lg="3" size-md="3" size-sm="4">
					<div class="item active2">
						<div class="text_box">
							<h2 class="d-flex">{{'table' | translate}} 20 <span class="end ion-text-end">1:33</span></h2>
							<h3>{{'ordered' | translate}} 8 {{'items' | translate}}</h3>
						</div>
					</div>
				</ion-col>
				<ion-col size="12" size-lg="3" size-md="3" size-sm="4">
					<div class="item" (click)="home()">
						<div class="text_box">
							<h2 class="d-flex">{{'table' | translate}} 21 <span class="end ion-text-end">1:33</span></h2>
							<h3>{{'no_order' | translate}}</h3>
						</div>
					</div>
				</ion-col>
				<ion-col size="12" size-lg="3" size-md="3" size-sm="4">
					<div class="item" (click)="home()">
						<div class="text_box">
							<h2 class="d-flex">{{'table' | translate}} 22 <span class="end ion-text-end">1:33</span></h2>
						<h3>{{'no_order' | translate}}</h3>
						</div>
					</div>
				</ion-col>
				<ion-col size="12" size-lg="3" size-md="3" size-sm="4">
					<div class="item" (click)="home()">
						<div class="text_box">
							<h2 class="d-flex">{{'table' | translate}} 23 <span class="end ion-text-end">1:33</span></h2>
						<h3>{{'no_order' | translate}}</h3>
						</div>
					</div>
				</ion-col>
				<ion-col size="12" size-lg="3" size-md="3" size-sm="4">
					<div class="item" (click)="home()">
						<div class="text_box">
							<h2 class="d-flex">{{'table' | translate}} 24 <span class="end ion-text-end">1:33</span></h2>
							<h3>{{'no_order' | translate}}</h3>
						</div>
					</div>
				</ion-col>

			</ion-row>
		</ion-grid>
	</div>
</ion-content>
